<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div div class="row">
      <div class='col-12 mb-5'>
        <input class='col-9'></input>
        <button class='col-2'>Add Task</button>
      </div>
      <h3 class='col-7'>Task</h3>
      <h3 class='col-3'></h3>
      <h3 class='col-2 justify-content-center'>Completed</h3>
        <div class="col-12">
          <div id="tasks"></div>
        </div>
      </div>
    </div>
  </div>
</div>